<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Intern page</title>
    <link rel="stylesheet" href="./styles/internPage.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="internPage.js" defer></script>
  </head>
  <body>
    <div class="usersPage">
      <nav class="navbar" id="navBar">
        <div class="topnav">
          <img
            src="../../resources/images/banana.png"
            alt="banana in pijamas logo"
            class="logo"
          />
          <a
            href="#"
            class="go-top-page"
            id="goTopPageBtn"
            title="Go to top page"
          >
            Go to the top page
          </a>
          <button class="menuBtn" id="menuBtn">
            <i class="material-icons">&#xe5d2;</i>Menu
          </button>
        </div>
        <ul class="hiddenLinks" id="navLinks">
          <a href="../../index.html" title="Go to members page">
            Members page</a
          >
          <a href="#" title="Go home">
            Home Page
          </a>
        </ul>
      </nav>
      <aside class="asidebar-user-infos">
        <div class="users-img">
          <img
            src="../../resources/images/Nicoleta.jpg"
            alt="Profile intern picture"
          />
        </div>
        <p class="user-description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo alias
          autem laborum veritatis sequi non enim asperiores saepe nulla ex quas
          quam similique velit aperiam tempore, voluptatum sit voluptatem, quae
          corporis tenetur. Quo molestias natus iusto officia ab hic dicta
          reprehenderit iure, quasi facilis debitis vitae nam corporis adipisci
          vero blanditiis! Minus debitis neque, quaerat numquam facilis delectus
          temporibus impedit possimus ipsam quia odit rerum praesentium deserunt
          sequi eos rem.
        </p>
        <div class="contact-links">
          <a href="#" class="contact-link-facebook">contact-link-facebook</a>
          <a href="#" class="contact-link-linkedin">contact-link-linkedin</a>
          <a href="#" class="contact-link-git">contact-link-git</a>
        </div>
      </aside>
      <section class="section-user-skills"></section>
    </div>
  </body>
</html>
