.asidebar-user-infos {
  width: 100%;
  .users-img {
    img {
      display: block;
      margin: 10px auto;
      width: 50%;
      height: 50%;
    }
  }
  .user-description {
    text-align: center;
    margin: 20px;
  }
}
@media screen and (min-width: 600px) {
  .asidebar {
    width: 30%;
  }
}
