@import "./variables";

.navbar {
  overflow: auto;
  background-color: $navbar;

  .topnav {
    max-height: 20%;
    padding: 10px;
    @include flex(space-between, center, row);
  }
  .logo {
    margin: 5px 0 0 5px;
    max-width: 60px;
    max-height: 50px;
  }
  .hiddenLinks {
    display: none;
  }
  a {
    color: $navbar-text;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1rem;
    padding: 4px;
    margin: 5px;

    &:hover {
      color: $navbar-text-hover;
    }
  }
}
.menuBtn {
  border: none;
  background-color: $navbar;
  @include flex(center, center, row);
  font-size: 1.5rem;
  i {
    font-size: 1.5rem;
  }
}

.go-top-page {
  display: none;
}
.sticky {
  display: block;
  position: fixed;
  right: 0;
  top: 0;
  border: none;
  background-color: #d2cdc9;
  padding: 0.3rem !important;
  margin: 0 !important;
  font-size: 0.6rem !important;
  color: black !important;

  &:hover {
    cursor: pointer;
    background-color: goldenrod;
  }
}

.sideDrawer {
  margin: 0;
  @include flex(center, flex-start, column);
}

@media screen and (min-width: 500px) {
  .menuBtn {
    display: none;
  }
  .navbar {
    @include flex(space-between, center, row);
    .hiddenLinks {
      display: block;
      @include flex(center, center, row);
    }
    .sideDrawer {
      margin: 0;
      @include flex(center, flex-start, row);
    }
  }
}
